<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Inter:wght@400;500;600;700;800&display=swap">
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="{{asset "built/atvbt.css"}}"/>

    {{!-- Table of contents & Footnotes styles --}}
    {{#is "post, page"}}
        <link rel="stylesheet" type="text/css" href="{{asset "/built/sidebars.css"}}" />
    {{/is}}    

    {{ghost_head}}
</head>

<body class="{{body_class}} is-head-b--a_n{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
    <div class="gh-site">
        <header id="gh-head" class="gh-head gh-outer">
            <div class="gh-head-inner gh-inner">
                <div class="gh-head-brand">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                    <button class="gh-burger"></button>
                </div>

                <nav class="gh-head-menu">
                    {{navigation}}
                </nav>

                <div class="gh-head-actions">
                    {{#unless @member}}
                        <a class="gh-head-btn" href="#/portal/signup" data-portal="signup">
                            {{> icons/email}}
                            Subscribe
                        </a>
                    {{else}}
                        <a class="gh-head-btn" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            </div>
        </header>

        {{{body}}}

        {{^if @member.paid}}
            <div class="gh-subscribe">
                <div class="gh-outer">
                    <section class="gh-subscribe-inner">
                        {{^if @member}}
                            <h3 class="gh-subscribe-title">Subscribe to {{@site.title}}</h3>

                            <div class="gh-subscribe-description">Receive our weekly posts by email</div>

                            <a class="gh-subscribe-input" href="#/portal/signup" data-portal="signup">
                                <div class="gh-subscribe-input-text">
                                    {{> icons/email}}
                                    jamie@example.com
                                </div>
                                <div class="gh-subscribe-input-btn">Subscribe</div>
                            </a>
                        {{else}}
                            <h3 class="gh-subscribe-title">Thanks for reading</h3>

                            <div class="gh-subscribe-description">You'll receive new posts by email</div>

                            <!--a class="gh-subscribe-btn gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Upgrade now</a-->
                        {{/if}}
                    </section>
                </div>
            </div>
        {{/if}}

        <footer class="gh-foot gh-outer">
            <div class="gh-foot-inner gh-inner">
                <div class="gh-copyright">
                    {{@site.title}} © {{date format="YYYY"}}
                </div>

                <nav class="gh-powered-by">
                    <a href="https://ghost.org?via=uri62" target="_blank" rel="noopener">
                        Powered by Ghost
                        <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0852 2.25299C26.7878 2.25299 33.8533 9.27457 33.8533 17.9231C33.8533 26.5717 26.7878 33.5933 18.0852 33.5933C9.38252 33.5933 2.31708 26.5717 2.31708 17.9231C2.31708 9.27457 9.38252 2.25299 18.0852 2.25299ZM5.64019 14.6163C6.42843 8.12495 9.9093 4.89848 17.7591 4.02166C21.5017 3.60355 25.7516 6.76555 26.9518 8.2219C29.377 11.1648 32.4378 14.6675 32.4378 18.6122C32.4378 23.9303 28.1505 26.9165 23.5771 29.3481C21.516 30.4441 19.2892 31.5047 16.7456 31.5047C10.2083 31.5047 4.70616 26.4028 4.70616 19.9061C4.70616 18.1793 5.42437 16.3936 5.64019 14.6163Z" fill="#15171A"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 35C27.5373 35 35.2687 27.3165 35.2687 17.8385C35.2687 8.36044 27.5373 0.676971 18 0.676971C8.46269 0.676971 0.731201 8.36044 0.731201 17.8385C0.731201 27.3165 8.46269 35 18 35ZM18 33.0932C26.4776 33.0932 33.35 26.2634 33.35 17.8385C33.35 9.41356 26.4776 2.58381 18 2.58381C9.52241 2.58381 2.64997 9.41356 2.64997 17.8385C2.64997 26.2634 9.52241 33.0932 18 33.0932Z" fill="#15171A"/>
                        </svg>
                    </a>
                </nav>

                <div>
                    &nbsp;
                </div>
            </div>
        </footer>
    </div>

    {{#is "post, page"}}
        {{> pswp}}
    {{/is}}

    <script src="{{asset "built/main.min.js"}}"></script>

    <script src="https://cdn.cove.chat/comments.js" data-cove-id="4d52fb19f6e41a7f3cbbdf8dec58dd82" async></script>
    
    <script src="https://cdn.cove.chat/tools.js" data-cove-id="4d52fb19f6e41a7f3cbbdf8dec58dd82" async></script>

    {{!-- Table of contents & Footnotes js --}}
    {{#is "post, page"}}
        <script src="{{asset "built/sidebars.min.js"}}"></script>
    {{/is}}

    {{!-- Improve how native lazy loaded images appear (hide alt text while loading, then fade in ) --}}
    {{#is "index"}}
        <script>
            document.body.classList.add('hide-images');

            setTimeout(function() {
                document.body.classList.remove('hide-images');
            }, 1000 * 2);
        </script>
        <script src="{{asset "built/lazy-images.js"}}"></script>
    {{/is}}

    {{ghost_foot}}
</body>

</html>
